body{
  background: url(/static/image/backimg.jpg) center center / cover no-repeat fixed;
  font-size: 32px;
  padding: 0;
  height: 100%;
}
.log{
  text-align: center;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(255, 178, 161, 0.5);
}
.inner{
  width: 530px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  margin: auto;
}
.btn-square-soft {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #000;
  width: 170px;
  height: 100px;
  line-height: 100px;
  border-radius: 30px;
  text-align: center;
  overflow: hidden;
  font-weight: bold;
  /*background: linear-gradient(#fff 0%, #fff 100%);*/
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 1);
}
.btn-square-soft:active {
  /*押したとき*/
  -webkit-transform: translateY(2px);
  transform: translateY(2px);/*沈むように*/
  box-shadow: 0 0 1px rgba(0, 0, 0, 1);
  background: linear-gradient(#DBA901 0%, #DBA901 100%);/*グラデーションを明るく*/
}

/*ラジオボタン*/
.radio-inline__input {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}
.radio-inline__label {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin-right: 18px;
  border-radius: 3px;
  transition: all .2s;
  outline-color: #A9A9A9;
  outline-offset: -2px;
  outline-style: auto;
  outline-width: 5px;
}
.radio-inline__input:checked + .radio-inline__label {
  background: #A52A2A;
  color: #fff;
  text-shadow: 0 0 1px rgba(0,0,0,.7);
}
.radio-inline__input:focus + .radio-inline__label {
  outline-color: #A9A9A9;
  outline-offset: -2px;
  outline-style: auto;
  outline-width: 5px;
}

/* 画像に対して指定する class */
.inner_photo{
    height: auto;
    width: auto;
    max-width: 70%;
    max-height: 60%;
    margin: auto;
}

.omikuji_img img{
  height: 20%;
}