{% extends "layout.html" %}
{% block content %}
<div style="height:5%;"></div>
<div id="num" class="inner" style="top:30%;font-size:128px;"></div>
<div class="shake-vertical shake-constant omikuji_img">
  <img src="/static/image/omikuji_hako_inverse_.png" />
</div>
<img src="/static/image/omikuji_hako_inverse_2.png" style="display:none;" />
<img src="/static/image/omikuji_hako_inverse_3.png" style="display:none;" />
<img src="/static/image/omikuji_bo_2.png" style="display:none;" />
<img src="/static/image/omikuji_bo_zoom.png" style="display:none;" />
<div style="height:8%;"></div>
<div id="fadein" class=""></div>
<script src="/static/js/animation.js" charset="utf-8"></script>
{% endblock %}

