{% extends "layout.html" %}
{% block content %}
<!-- php session sta -->
<script>
  var run_id = {{ run_id|tojson }};
</script>
<div style="height:5%;"></div>
<div id="omikuji_click" class="shake-chunk  shake-constant omikuji_img">
  <img src="/static/image/omikuji_hako_.png" />
</div>
<!--
<div style="position:absolute;bottom:20px;left:25%;">
  <h2>↑ クリックしてください</h2>
</div>
-->
<!-- php session fin -->
<script src="/static/js/execution.js" charset="utf-8"></script>
{% endblock %}
