<!DOCTYPE html>
<html lang="jp" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>おみくじ-{{ title }}-</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/fadeout.css">
    <link rel="stylesheet" type="text/css" href="https://csshake.surge.sh/csshake.min.css">
    <link rel="stylesheet" type="text/css" href="http://csshake.surge.sh/shake-vertical.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  </head>
  <body>
    <div class="log">
{% block content %}
<!-- ここに個別のhtmlが入る -->
{% endblock %}
    </div>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="/static/js/viewer.js" charset="utf-8"></script>
    <script>
        var viewer = new Viewer(document.getElementById('images'));
    </script>
  </body>
</html>